name: Publish

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  id-token: write # VERY IMPORTANT

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - run: bun install
      - run: bun run build

      - run: npm publish --provenance
